body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: white;
}

h2, h3 {
    font-weight: bold;
    color: black;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

ul li {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;

    display: flex;
    justify-content: space-between;
}

form {
    margin-top: 20px;
    width: 280px;
}

label {
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}
