<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chcekout</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='Checkout.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>

<div class="container">
    <div class="left-side">

        <h2>Checkout</h2>
        <div class="box">
            <h3> Shipping Address</h3>

            <form action="/checkout/{{ user_id }}" method="POST">

                <label>Full Address</label>
                <textarea name="shipping_address" required></textarea>

                <label>Phone Number</label>
                <input type="text" name="phone_number" required>

                <h3>Payment Method</h3>

                <div class="payment-box">
                    <label>
                        <input type="radio" name="payment_method" value="card" required>
                        Credit / Debit Card
                    </label>

                    <label>
                        <input type="radio" name="payment_method" value="cash" required>
                        Cash on Delivery
                    </label>
                </div>

                <button type="submit" class="place-order">Place Order</button>

            </form>
        </div>

    </div>

    <!-- RIGHT SIDE: ORDER SUMMARY -->
    <div class="summary-box">
        <h3>Order Summary</h3>

        <ul class="item-list">
            {% for item in items %}
            <li>
                <span>{{ item.product_name }}</span>
                <span>{{ item.quantity }} × {{ item.price }} EGP</span>
            </li>
            {% endfor %}
        </ul>

        <hr>

        <p><strong>Subtotal:</strong> {{ subtotal if subtotal else "" }} EGP</p>
        <p><strong>Shipping:</strong> Free</p>

    </div>
</div>

</body>
</html>